body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

li
{
    list-style-type:none;
}
a
{
    text-decoration: none;
    color: whitesmoke;
 
}
a:hover{ color: whitesmoke;}
.nav-link
{
    
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    margin:0px 5px;
    font-weight: 500;
    border: 1px solid whitesmoke;

}
.nav-link:hover
{
    background-color: #49505F;
   
}

.nav-cont
{
    margin: 0px;
    padding: 0px;
}

header
{

    background-color:#383E4C;
    z-index: 5000;
    position: fixed;
    width: 100%;
   

}
#port-logo
{
    font-size: 40px;
    color: white;
    display: none;
    font-family: cursive;
}

h1
{
    font-size: 70px;
}
h2
{
    font-size: 70px;
    background-color: rgba(242, 242, 242, 0.3);
    margin: 2px;
}
h3
{
    text-transform: capitalize;
    font-weight: 700;
    font-family: cursive;
}
.span
{
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
}

.pimg1
{ 
    background-image: url(/img/bag2.jpg);
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#about
{
    background-image: url(/img/photo_2021-06-24_08-49-48.jpg);
    background-size: cover;
    padding:0px;

}
#about-text
{
    background-color: rgba(0, 0, 0, 0.719);
    padding: 20px 10%;
    margin: 0px;
    color: white;
}
.skill2
{
    background-color: rgba(0, 0, 255, 0.459);
}
.skill4
{
    background-color: #00589c94;
}
.skill1
{
    background-color: rgba(255, 115, 0, 0.459);
}
.skill3
{
  background-color: #5b3e87ab;
  
}
.skills-body
{
    background-color: rgb(245, 245, 245);
}
.pimg2
{
    background-image:url(/img/Information.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overlay
{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.418);
    height: 100%;
}
.overlay1
{
    padding: 8% 13%;
    background-color: rgba(0, 0, 0, 0.418);
    height: 100%;
}


.text
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    
}
#toggle
{
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 30px;
    font-weight: bold;
    display: none;
}
span .fa
{
    margin: 5px;
    padding: 5px;
    color: black;
    border-radius: 50%;
    background-color: rgb(219, 214, 210);
   font-size: 18px;

}
.fa:hover
{
    cursor: pointer;
}
input
{
    outline: none !important;
    border: none !important;

}

::placeholder {
    font-size: 25px;
    color:rgba(0, 0, 0, 0.801) !important;
  }


.form-control-lg 
{
    width: 100%;
    background-color: rgba(231, 221, 221, 0.534);
}
.pimg3
{
    background-image: url(/img/bag3.jpg);

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (max-width:520px)
{   
    #logo
    {
        visibility: visible;
    }
    img
    {
        width: 100%;
    }
    .navbar
    {
        display: none;
        padding: 0px;
    }
    .overlay1
    {
        padding: 0px;
    }
#nav-item
{
    display: none;
}
#nav-item.show
{
    display: block;
}
 #port-logo,#toggle
 {
     display: initial;
 }
 .nav-link
 {
     display: block;
     text-align: center;
     margin: 10px;
 }
    .pimg1, .text  
    {
        height: 100vh;
    }
}

.btn
{
    font-size: 20px;
    font-weight: 700;
}
.p
{
    font-family: cursive;
    font-weight: 600;
    font-size: 18px;
}

